<div class="post-list">
      {% assign category = page.title %}
      {% for post in site.categories[category] %} <!-- 카테고리 조건 -->
            <ul>
                  <li>Cumputer Language
                         <ul> 
                               <li>Python</li>
                               <li>Java</li>
                               <li>R</li>
                          </ul>
                  </li>
                  <li>Deep Learning</li>
                          <ul> 
                               <li>Deep Learning 1</li>
                               <li>Deep Learning 2</li>
                          </ul>
                  <li>Machine Learning</li>          
                  <li>Algorithm
                      <ul>
                            <li>Baekjun</li>
                            <li>Interviews with Python algorithms</li>
                       </ul>
                  </li>
                  </li>       
            </ul>
      {% endfor %}
</div>
