<div class="post-list">
      {% assign category = page.title %}
      {% for post in site.categories[category] %} <!-- 카테고리 조건 -->
            <ul>
                  <li>Cumputer Language
                         <ul> 
                               <li>Python</li>
                               <li>Java</li>
                               <li>C</li>
                               <li>C++</li>
                               <li>R</li>
                          </ul>
                  </li>
                  <li>Deep Learning</li>
                          <ul> 
                               <li>Deep Learning 1</li>
                               <li>Deep Learning 2</li>
                               <li>Deep Learning 3</li>
                          </ul>
                  <li>Machine Learning</li>          
                  <li>Problem Solving</li>
                  <li>Algorithms</li>       
            </ul>
      {% endfor %}
</div>
